<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>拼多多查排名_拼多多排名查询_拼多多魔搜 拼多多直通车查询平台</title>
    <meta name="keyword" content="拼多多排名查询 拼多多查排名 拼多多排名查询软件 拼多多排名查询工具 拼多多直通车查询 拼多多关键词排名查询">
    <meta name="description" content="拼多多查排名平台是拼多多排名查询软件 拼多多排名查询工具,提供拼多多排名查询,拼多多直通车查询,拼多多关键词直通车查询,便于商家优化拼多多排名">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link th:href="@{/static/ddms/img/222.jpg}" type="image/x-icon" rel="shortcut icon" >
    <meta name="csrf-param" content="_csrf-frontend">
    <meta name="csrf-token" content="pcneXCabB__lxm8d6hemTSVcs5NKIvAV-DDVVRCUIJWTmrQaUPRzj7DwKnajRMwSFwjG-hhkuySUXJpsW8Jw3w==">
    <link th:href="@{/static/ddms/css/main1.css}" rel="stylesheet">
    <link th:href="@{/static/ddms/css/login.css}" rel="stylesheet">
    <link th:href="@{/static/ddms/css/search_gulp.css}" rel="stylesheet">
    <link th:href="@{/static/ddms/css/bootstrap/bootstrap-table.min.css}" rel="stylesheet">
    <link th:href="@{/static/ddms/css/index.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/static/ddms/jquery/jquery-1.4.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/ddms/js/myForm.js}"></script>
    <script type="text/javascript" th:src="@{/static/ddms/js/include.js}"></script>
    <script type="text/javascript">
        $(function(){
            $('.mykind label').click(function(){
                $(this).css({'color':'#fff','background-color':'#556CED','border-color':'#556CED'}).siblings().css({'color':'#666','background-color':'#fff','border-color':'#ccc'});
            });
        })
    </script>
</head>
<body>
<!--<div class="spinners">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>-->
<header th:include="include :: header"></header>

<div class="jd_menu_remove">
    <div class="jd_remove_item">
        <i class="iconfont icon-kefu icon"></i><br>
        咨询
    </div>
    <div class="feedback tada hidden" id="feedback" data-toggle="modal" data-target="#feedbackModal">
        <!--img src="http://jdmohe.ufile.ucloud.com.cn/web/feedback.png">
        <img src="http://jdmohe.ufile.ucloud.com.cn/web/feedback1.png"-->
    </div>
</div>
<div class="consult-wrapper" style="display: none;">
    <div class="header-phone-close">
        <i class="icon consult-phone-close iconfont icon-cuowu"></i>
    </div>
    <div class="consult-phone-wrapper">
        <h3>联系我们</h3>
        <div class="consult-phone-btn">
            <button class="btn"><img src="../static/ddms/img/QQ.png">QQ咨询</button>
        </div>
        <div class="qq-text">

        </div>
        <div class="weixin-text">
            扫一扫&nbsp;<img src="../static/ddms/img/weixin.png">&nbsp;加微信
        </div>
        <div class="erweima-text">
            <img class="wechartCode" src="../static/ddms/img/we.jpg">
        </div>
        <div class="erweima-text1">

        </div>
    </div>
</div>

<div class="dd_content_wrap dd_container">
    <div class="banner row">
        <h1>极光客</h1>
    </div>
    <div class="ranking_wrap">
        <div class="row nav_header_wrap">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active queryRanking nav_li" data-index="1">
                    <h2 title="拼多多查排名 拼多多关键词查排名">关键词查排名</h2>
                </li>
                <li role="presentation" class="queryCategory nav_li" data-index="2">
                    <h2 title="拼多多查排名 拼多多类目查排名">类目查排名<!--<img class="icon-alone" src="/images/alone.png" alt=""/>--></h2>
                </li>
                <li role="presentation" class="queryActivity nav_li" data-index="3">
                    <h2 title="拼多多查排名 拼多多活动查排名">查询店铺</h2>
                </li>
            </ul>
        </div>
        <!--关键词查排名-->
        <div class="row form_wrap keyword_form" data-index="1">
            <div class="form2">
                <div class="row item_wrap">
                    <lable class="item_name">
                        关键词：
                    </lable>
                    <div class="item_option user-ul-box">
                        <i class="glyphicon glyphicon-remove close_i"></i>
                        <input type="text" class="form-control keyword" id="keyword_a" autocomplete="off" placeholder="输入关键词">
                        <ul class="user-ul keyword-ul" style="display: none;"></ul>
                    </div>
                </div>
                <div class="row item_wrap">
                    <lable class="item_name">
                        商品ID：
                    </lable>
                    <div class="item_option user-ul-box">
                        <i class="glyphicon glyphicon-remove close_i"></i>
                        <input type="text" class="form-control keyword_sku" id="keyword_b" autocomplete="off" placeholder="输入商品ID">
                        <ul class="user-ul" style="display: none;"></ul>
                    </div>
                </div>
                <div class="row item_wrap ran_hide">
                    <lable class="item_name">
                        排序类型：
                    </lable>
                    <div class='mykind'>
                        <label>
                            <input type="radio" value="0" name="sort" checked /> 综合排序
                        </label>
                        <label>
                            <input type="radio" value="19" name="sort" /> 评分排序
                        </label>
                        <label>
                            <input type="radio" value="6" name="sort" /> 销量
                        </label>
                        <label>
                            <input type="radio" value="3" name="sort" /> 价格<i class="iconfont icon-jiantoushangsheng"></i>
                        </label>
                        <label>
                            <input type="radio" value="4" name="sort" /> 价格<i class="iconfont icon-jiantouxiajiang"></i>
                        </label>
                    </div><!--/mykind-->
                </div>
            </div><!--/form2-->
            <div class="row form_footer">
                <button class="btn form_submit" onclick="getKey();">查询</button>
            </div>
            <div class="results only_one"></div>
        </div>
        <!--关键词查排名结束-->
        <!--类目查排名-->
        <div class="row form_wrap category_form" data-index="2">
            <div class="form1">
                <div class="row item_wrap">
                    <lable class="item_name">
                        选择类目：
                    </lable>
                    <div class="item_option">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <select name="category1" data-key="1" class="form-control category" id="category1" onchange="cats1();">
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <select name="category2" data-key="2" class="form-control category" id="category2" onchange="cats2();">
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <select name="category3" data-key="3" class="form-control category" id="category3">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row item_wrap">
                    <lable class="item_name">
                        商品ID：
                    </lable>
                    <div class="item_option user-ul-box">
                        <i class="glyphicon glyphicon-remove close_i"></i>
                        <input type="text" class="form-control keyword_sku" id="category_b" autocomplete="off" placeholder="输入商品ID">
                        <ul class="user-ul" style="display: none;"></ul>
                    </div>
                </div>
            </div><!--/form1-->
            <div class="row form_footer">
                <button class="btn form_submit" onclick="getCats();">查询</button>
            </div>
            <div class="results only_two"></div>
        </div>
        <!--类目查排名结束-->
        <!--活动查排名-->
        <div class="row form_wrap activity_form" data-index="3">
            <div class="form3">
                <div class="row item_wrap">
                    <lable class="item_name">
                        店铺ID：
                    </lable>
                    <div class="item_option user-ul-box">
                        <i class="glyphicon glyphicon-remove close_i"></i>
                        <input type="text" class="form-control keyword_sku" autocomplete="off" placeholder="输入店铺ID" id="mall_a">
                        <ul class="user-ul" style="display: none;"></ul>
                    </div>
                </div>
            </div>
            <div class="row form_footer">
                <button class="btn form_submit" id="form_submit" onclick="getMall();">查询</button>
            </div>
            <div class="results only_three"></div>
        </div><!--活动查排名结束-->
    </div>
</div>
<script th:src="@{/static/ddms/js/main.js?t=0914}"></script>
<script th:src="@{/static/ddms/js/login.js}"></script>
<script th:src="@{/static/ddms/js/bootstrap/bootstrap-table.js}"></script>
<script th:src="@{/static/ddms/js/index.js}"></script>
<script>
    $(function(){

        /*$.each(json, function (index, data) {});*/
        $.get('/api/getCats?parentId=0', function(res) {
            $("#category1").append(res.cats);
            var id = $("#category1 option:selected").val();
            $.get('/api/getCats?parentId='+id, function(res) {
                $("#category2").append(res.cats);
                var id = $("#category2 option:selected").val();
                $.get('/api/getCats?parentId='+id, function(res) {
                    $("#category3").append(res.cats);
                });
            });
        });

    })

    function getMall() {
        var a = $("#mall_a").val();
        if(a!=""){
            $.get('/api/getMall?mallId='+a, function(res) {
                var a;
                if(res.mall==null){
                    a = '<h1>搜索结果</h1><div class="result_title1">查排名功能当前处于测试阶段，查询结果会有偏差，商家可作为参考，更多功能敬请期待</div>';
                }else{
                    a = '<table class="mytable"><tr><td>店铺LOGO</td><td>店铺名称</td><td>商品数量</td><td>总销量</td></tr>' +
                        '<tr><td><dl><dt><img src="'+res.mall.logo+'"></dt></td><td><dd>'+res.mall.name+'</dd></dl></td><td>'+res.mall.size+'</td><td>'
                        +res.mall.sold+'</td></tr></table>';
                }
                $(".only_three").html(a);
            });
        }else{
            alert("请填写店铺ID！");
        }
    }
    
    function cats1() {
        var id = $("#category1 option:selected").val();
        $.get('/api/getCats?parentId='+id, function(res) {
            $("#category2").empty();
            $("#category2").append(res.cats);
            var id = $("#category2 option:selected").val();
            $.get('/api/getCats?parentId='+id, function(res) {
                $("#category3").empty();
                $("#category3").append(res.cats);
            });
        });
    }

    function cats2() {
        var id = $("#category2 option:selected").val();
        $.get('/api/getCats?parentId='+id, function(res) {
            $("#category3").empty();
            $("#category3").append(res.cats);
        });
    }

    function getCats() {
        var a = $("#category3 option:selected").val();
        var b = $("#category_b").val();
        if(b!=""){
            $.get('/api/getKey?parentId='+a+"&goodsId="+b, function(res) {
                var a;
                if(res.goods==null){
                    a = '<h1>搜索结果</h1><div class="result_title1">查排名功能当前处于测试阶段，查询结果会有偏差，商家可作为参考，更多功能敬请期待</div>';
                }else{
                    a = '<table class="mytable"><tr><td>商品信息</td><td>单价</td><td>团购价</td><td>排名</td><td>销量</td></tr>' +
                        '<tr><td><dl><dt><img src="'+res.goods.img+'"></dt><dd>'+res.goods.name+'</dd></dl></td><td>'+res.goods.normal+'</td><td>'
                        +res.goods.group+'</td><td>'+res.goods.top+'</td><td>'+res.goods.sold+'</td></tr></table>';
                }
                $(".only_two").html(a);
            });
        }else{
            alert("请填写商品ID！");
        }
    }

    function getKey(){
        var a = $("#keyword_a").val();
        var b = $("#keyword_b").val();
        var c = $("input[name='sort']:checked").val();
        if(a!=""&&b!=""){
            $.get('/api/getKey?keyword='+a+"&goodsId="+b+"&sort="+c, function(res) {
                var a;
                if(res.goods==null){
                    a = '<h1>搜索结果</h1><div class="result_title1">查排名功能当前处于测试阶段，查询结果会有偏差，商家可作为参考，更多功能敬请期待</div>';
                }else{
                    a = '<table class="mytable"><tr><td>商品信息</td><td>单价</td><td>团购价</td><td>排名</td><td>销量</td></tr>' +
                        '<tr><td><dl><dt><img src="'+res.goods.img+'"></dt><dd>'+res.goods.name+'</dd></dl></td><td>'+res.goods.normal+'</td><td>'
                        +res.goods.group+'</td><td>'+res.goods.top+'</td><td>'+res.goods.sold+'</td></tr></table>';
                }
                $(".only_one").html(a);
            });
        }else{
            alert("请填写关键词/商品ID！");
        }
    }

    
</script>
</body>
</html>
