<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
        <title>拼多多查排名_拼多多排名查询_拼多多魔盒 拼多多直通车查询平台</title>
        <meta name="keyword" content="拼多多排名查询 拼多多查排名 拼多多排名查询软件 拼多多排名查询工具 拼多多直通车查询 拼多多关键词排名查询">
        <meta name="description" content="拼多多查排名平台是拼多多排名查询软件 拼多多排名查询工具,提供拼多多排名查询,拼多多直通车查询,拼多多关键词直通车查询,便于商家优化拼多多排名">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link th:href="@{/static/ddms/img/logo.png}" type="image/x-icon" rel="shortcut icon">
        <meta name="csrf-param" content="_csrf-frontend">
    	<meta name="csrf-token" content="QRGKBDnvOOWDNd1dmNEOsiw_BqEec7__BcMqGG3qTYR3QuBCT4BMldYDmDbRgmTtHmtzyEw19M5pr2UhJrwdzg==">
        <link th:href="@{/static/ddms/css/main1.css}" rel="stylesheet">
        <link th:href="@{/static/ddms/css/login.css}" rel="stylesheet">
        <link th:href="@{/static/ddms/css/search_gulp.css}" rel="stylesheet">
        <link th:href="@{/static/ddms/css/bootstrap/bootstrap-table.min.css}" rel="stylesheet">
        <link th:href="@{/static/ddms/css/bootstrap/bootstrap-tagsinput.css}" rel="stylesheet">
        <link th:href="@{/static/ddms/css/bootstrap/pagination.css}" rel="stylesheet">
        <link th:href="@{/static/ddms/css/index.css}" rel="stylesheet">
        <link th:href="@{/static/ddms/css/ranking.css}" rel="stylesheet">
        <script type="text/javascript" th:src="@{/static/ddms/jquery/jquery-1.4.4.min.js}"></script>
        <script type="text/javascript" th:src="@{/static/ddms/js/myForm.js}"></script>
        <script type="text/javascript" th:src="@{/static/ddms/js/include.js}"></script>
	</head>
	<body>
    <header th:include="include :: header"></header>

    <!-- Modal -->
    <div class="ranking-wrapper login-wrapper">
        <div class="row loginBox">
            <div class="jd-form-wrapper">
                <div class="jd_form_loading">
                    <b style="margin:auto">努力加载中...</b>
                </div>
                <i class="login-close iconfont icon-17cuowu"></i>
                <div class="row login-form-title">
                    <div class="col-md-6 col-sm-6 col-xs-6" style="text-align: right">
                        <span class="active jd-login-btn">登录</span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <span class="jd-register-btn">注册</span>
                    </div>
                </div>
                <!--登录-->
                <div class="login-form">
                    <div class="login-input-wrapper">
                        <input type="text" id="login-user" class="form-control login-form-input input" placeholder="请输入用户名">
                    </div>
                    <div class="login-input-wrapper">
                        <input type="password" id="login-password" class="form-control login-form-input input" placeholder="请输入密码">
                    </div>
                    <div class="login-input-wrapper">
                        <button class="btn login-submit">确定</button>
                        <br>
                        <a href="javascript:;" class="forget-btn">忘记密码?</a>
                    </div>
                </div>
                <div class="register-form">
                    <div class="login-input-wrapper">
                        <input type="text" id="register-user" class="form-control login-form-input input" placeholder="请输入手机号">
                    </div>
                    <div class="login-input-wrapper before-input">
                        <input type="text" id="register-tp" class="form-control login-form-input input input1" placeholder="请输入图片验证码" style="width:50%;display: inline-block">
                        <img id="code-img" src="/images/error03.png" alt="" style="width: 28%;height:34px;">
                        <a id="code-btn" href="javascript:;" style="width: 18%;display:inline-block">换一张</a>
                    </div>
                    <div class="login-input-wrapper before-input">
                        <input type="text" id="register-info" class="form-control login-form-input input input1" placeholder="请输入短信验证码" style="width:50%;display: inline-block">
                        <button class="btn register-phone-btn" style="width: 48%;border: 1px solid #556CED;background: #fff;color: #556CED;height: 34px;">
                            获取验证码
                        </button>
                    </div>
                    <div class="login-input-wrapper next-input">
                        <input type="password" id="register-password" class="form-control login-form-input input" placeholder="请输入密码">
                    </div>
                    <div class="login-input-wrapper next-input">
                        <input type="password" id="register-password1" class="form-control login-form-input input" placeholder="请再次输入密码">
                    </div>
                    <div class="login-input-wrapper before-input">
                        <button class="btn register-next">下一步</button>
                    </div>
                    <div class="login-input-wrapper next-input">
                        <button class="btn register-submit">立即注册</button>
                        <div>
                            <a href="javascript:;" class="before-btn">上一步</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jd-form-wrapper form-forget">
                <div class="jd_form_loading">
                    <b style="margin:auto">努力加载中...</b>
                </div>
                <div class="login-form">
                    <div class="row">
                        <div class="col-md-12" style="position: relative;">
                        <span class="forget-back">
                             <i class="iconfont icon-fanhui"></i>
                        </span>
                            <h3 style="color:#556CED">忘记密码</h3>
                        </div>
                    </div>
                    <div class="login-input-wrapper">
                        <input type="text" id="forget-user" class="form-control login-form-input input" placeholder="请输入用户名">
                    </div>
                    <div class="login-input-wrapper">
                        <input type="text" id="forget-code" class="form-control login-form-input input input1" placeholder="请输入验证码" style="width:50%;display: inline-block">
                        <button class="btn" id="forget-code-btn" style="width: 48%;border: 1px solid #556CED;background: #fff;color: #556CED;height: 34px;">
                            获取验证码
                        </button>
                    </div>
                    <div class="login-input-wrapper">
                        <input type="password" id="forget-password" class="form-control login-form-input input" placeholder="请输入密码">
                    </div>
                    <div class="login-input-wrapper">
                        <input type="password" id="forget-password1" class="form-control login-form-input input" placeholder="请再次输入密码">
                    </div>
                    <div class="login-input-wrapper">
                        <button class="btn forget-submit">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dd_content_wrap dd_container dd_other">
        <div class="row ran_header">
            <div class="col-md-10 dd_ranking">
                <ul class="dd_nav clearfix">
                    <li class="nav_li active nav_li2" data-key="2"><a href="javascript:;">关键词排名监控</a></li>
                    <li class="nav_li nav_li1" data-key="1"><a href="javascript:;">类目排名监控</a></li>
                    <li class="nav_li nav_li3" data-key="3"><a href="javascript:;">活动排名监控</a></li>
                </ul>
            </div>
            <div class="col-md-2 dd_add_box">
                <button class="btn dd_add_btn" type="button" data-toggle="modal" data-target="#addGoodModal">+添加商品</button>
            </div>
        </div>
        <div class='contents'>
            <!--关键词排名监控-->
            <div class='mytable'>
                <div class='top'>
                    <dl class='left'>
                        <dt><img src='img/character.jpg'></dt>
                        <dd>你个傻子哈哈哈哈111</dd>
                        <dd class='gray'>商品id:0498548957408</dd>
                    </dl>
                    <div class='right'>
                        <a href='#' class='add' data-toggle="modal" data-target="#myModal">+添加关键词</a>
                        <a href='#' class='del'>删除</a>
                    </div>
                </div>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <h3>添加关键词</h3>
                            <form>
                                关键词：<input type='text' />
                                <button type="button" class="btn btn-primary btn1">确定</button>
                                <button type="button" class="btn btn-default btn2" data-dismiss="modal">取消</button>
                            </form>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
                <table>
                    <tr>
                        <th>关键词</th>
                        <th>最后更新时间</th>
                        <th>单价</th>
                        <th>团购价</th>
                        <th>销量</th>
                        <th>排名</th>
                        <th>操作</th>
                    </tr>
                    <tr>
                        <td>你个傻子</td>
                        <td>2019-09-09 09:09:09</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>23</td>
                        <td>2</td>
                        <td><a href='#' data-toggle="modal" data-target="#myModal1">走势</a></td>
                    </tr>
                </table>
                <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content big">
                            <dl>
                                <dt><img src='img/character.jpg'></dt>
                                <dd>你个傻子哈哈哈哈111</dd>
                                <dd class='gray'>商品id:0498548957408</dd>
                            </dl>
                            <h5>商品排名走势折线图</h5>
                            <div class='tab'><a href='#'>近7天</a><a href='#'>近15天</a><a href='#'>近30天</a></div>
                            <div class='tabs'>
                                <div id="main1" style="width: 600px;height:300px"></div>
                                <div id="main2" style="width: 600px;height:300px"></div>
                                <div id="main3" style="width: 600px;height:300px"></div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
            </div><!--/mytable--><!--关键词排名监控结束-->
            <!--类目排名监控-->
            <div class='mytable'>
                <div class='top'>
                    <dl class='left'>
                        <dt><img src='img/character.jpg'></dt>
                        <dd>你个傻子哈哈哈哈222</dd>
                        <dd class='gray'>商品id:0498548957408</dd>
                    </dl>
                    <div class='right'>
                        <a href='#' class='add' data-toggle="modal" data-target="#myModa2">+添加关键词</a>
                        <a href='#' class='del'>删除</a>
                    </div>
                </div>
                <div class="modal fade" id="myModa2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <h3>添加关键词</h3>
                            <form>
                                关键词：<input type='text' />
                                <button type="button" class="btn btn-primary btn1">确定</button>
                                <button type="button" class="btn btn-default btn2" data-dismiss="modal">取消</button>
                            </form>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
                <table>
                    <tr>
                        <th>关键词</th>
                        <th>最后更新时间</th>
                        <th>单价</th>
                        <th>团购价</th>
                        <th>销量</th>
                        <th>排名</th>
                        <th>操作</th>
                    </tr>
                    <tr>
                        <td>你个傻子</td>
                        <td>2019-09-09 09:09:09</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>23</td>
                        <td>2</td>
                        <td><a href='#' data-toggle="modal" data-target="#myModal2">走势</a></td>
                    </tr>
                </table>
                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content big">
                            <dl>
                                <dt><img src='img/character.jpg'></dt>
                                <dd>你个傻子哈哈哈哈111</dd>
                                <dd class='gray'>商品id:0498548957408</dd>
                            </dl>
                            <h5>商品排名走势折线图</h5>
                            <div class='tab'><a href='#'>近7天</a><a href='#'>近15天</a><a href='#'>近30天</a></div>
                            <div class='tabs'>
                                <div id="main4" style="width: 600px;height:300px"></div>
                                <div id="main5" style="width: 600px;height:300px"></div>
                                <div id="main6" style="width: 600px;height:300px"></div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
            </div><!--/mytable-->
            <!--类目排名监控结束-->
            <!--活动排名监控-->
            <div class='mytable'>
                <div class='top'>
                    <dl class='left'>
                        <dt><img src='img/character.jpg'></dt>
                        <dd>你个傻子哈哈哈哈333</dd>
                        <dd class='gray'>商品id:0498548957408</dd>
                    </dl>
                    <div class='right'>
                        <a href='#' class='add' data-toggle="modal" data-target="#myModa3">+添加关键词</a>
                        <a href='#' class='del'>删除</a>
                    </div>
                </div>
                <div class="modal fade" id="myModa3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <h3>添加关键词</h3>
                            <form>
                                关键词：<input type='text' />
                                <button type="button" class="btn btn-primary btn1">确定</button>
                                <button type="button" class="btn btn-default btn2" data-dismiss="modal">取消</button>
                            </form>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
                <table>
                    <tr>
                        <th>关键词</th>
                        <th>最后更新时间</th>
                        <th>单价</th>
                        <th>团购价</th>
                        <th>销量</th>
                        <th>排名</th>
                        <th>操作</th>
                    </tr>
                    <tr>
                        <td>你个傻子</td>
                        <td>2019-09-09 09:09:09</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>23</td>
                        <td>2</td>
                        <td><a href='#' data-toggle="modal" data-target="#myModal3">走势</a></td>
                    </tr>
                </table>
                <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content big">
                            <dl>
                                <dt><img src='img/character.jpg'></dt>
                                <dd>你个傻子哈哈哈哈111</dd>
                                <dd class='gray'>商品id:0498548957408</dd>
                            </dl>
                            <h5>商品排名走势折线图</h5>
                            <div class='tab'><a href='#'>近7天</a><a href='#'>近15天</a><a href='#'>近30天</a></div>
                            <div class='tabs'>
                                <div id="main7" style="width: 600px;height:300px"></div>
                                <div id="main8" style="width: 600px;height:300px"></div>
                                <div id="main9" style="width: 600px;height:300px"></div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
            </div><!--/mytable-->
            <!--类目排名监控结束-->
        </div><!--/contents-->
    </div>
    <div class="modal rankingModal" id="addGoodModal" tabindex="-1" role="dialog" aria-labelledby="addGoodModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="addGoodModalLabel">添加商品</h4>
                </div>
                <div class="modal-body">
                    <div class="row add_input_wrap form_wrap">
                        <div class="add_input_inner item_wrap row">
                            <div class="item_name">
                                添加方式：
                            </div>
                            <div class="item_option add_type">
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="ranking2" value="2" checked=""> 关键词排名
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="ranking1" value="1"> 类目排名
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="ranking3" value="3"> 活动排名
                                </label>
                            </div>
                        </div>
                        <div class="form1">
                            <div class="row item_wrap">
                                <lable class="item_name">
                                    选择类目：
                                </lable>
                                <div class="item_option">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <select name="category1" data-key="1" class="form-control category" id="category1">
                                            <option value="0">一级类目</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <select name="category2" data-key="2" class="form-control category" id="category2">
                                            <option value="0">二级类目</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <select name="category3" data-key="3" class="form-control category keyword" id="category3">
                                            <option value="0">三级类目</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row item_wrap">
                                <lable class="item_name">
                                    商品链接或ID：
                                </lable>
                                <div class="item_option user-ul-box">
                                    <i class="glyphicon glyphicon-remove close_i"></i>
                                    <input type="text" class="form-control keyword_sku" id="category_sku" autocomplete="off" placeholder="输入商品链接或ID">
                                    <ul class="user-ul"></ul>
                                </div>
                            </div>
                        </div><!--/form1-->
                        <div class="form2">
                            <div class="row item_wrap">
                                <lable class="item_name">
                                    关键词：
                                </lable>
                                <div class="item_option user-ul-box">
                                    <i class="glyphicon glyphicon-remove close_i"></i>
                                    <input type="text" class="form-control keyword" id="keyword_form" autocomplete="off" placeholder="输入关键词">
                                    <ul class="user-ul keyword-ul"></ul>
                                </div>
                            </div>
                            <div class="row item_wrap">
                                <lable class="item_name">
                                    商品链接或ID：
                                </lable>
                                <div class="item_option user-ul-box">
                                    <i class="glyphicon glyphicon-remove close_i"></i>
                                    <input type="text" class="form-control keyword_sku" id="keyword_sku" autocomplete="off" placeholder="输入商品链接或ID">
                                    <ul class="user-ul"></ul>
                                </div>
                            </div>
                            <div class="row item_wrap ran_hide">
                                <lable class="item_name">
                                    排序类型：
                                </lable>
                                <div class="item_option keyword_type">
                                    <div class="dropdown">
                                        <button class="btn keyword_btn dropdown-toggle active" key="1" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="dropdown_text">综合排序</span> <span class="caret"></span></button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li><a href="javascript:;" class="keyword overall overall1 active" key="1">综合排序</a></li>
                                            <li><a href="javascript:;" class="keyword overall overall2" key="2">评分排序</a></li>
                                        </ul>
                                    </div>
                                    <button class="btn keyword_btn keyword" key="3">销量</button>
                                    <button class="btn keyword_btn keyword" key="4">价格<i class="iconfont icon-jiantoushangsheng"></i></button>
                                    <button class="btn keyword_btn keyword" key="5">价格<i class="iconfont icon-jiantouxiajiang"></i></button>
                                </div>
                            </div>
                            <div class="row item_wrap ran_hide">
                                <lable class="item_name">
                                </lable>
                                <div class="item_option">
                                    <button class="btn choose_btn">筛选 <i class="iconfont icon-jiantouxiangshang"></i></button>
                                </div>
                            </div>
                            <div class="choose_box ran_hide">
                                <div class="row item_wrap">
                                    <lable class="item_name">
                                        价格区间：
                                    </lable>
                                    <div class="item_option price_wrap">
                                        <button class="btn keyword_btn1 disabled" key="1" autocomplete="off" disabled="disabled">loading...</button>
                                        <button class="btn keyword_btn1 disabled" key="2" autocomplete="off" disabled="disabled">loading...</button>
                                        <button class="btn keyword_btn1 disabled" key="3" autocomplete="off" disabled="disabled">loading...</button>
                                        <button class="btn keyword_btn1 disabled" key="4" autocomplete="off" disabled="disabled">loading...</button>
                                    </div>
                                </div>

                                <div class="row item_wrap">
                                    <lable class="item_name">
                                        拼单状态：
                                    </lable>
                                    <div class="item_option">
                                        <button class="btn keyword_btn1 only_btn"><i class="glyphicon glyphicon-ok"></i> 仅看有人正在拼单的商品</button>
                                    </div>
                                </div>
                            </div>
                        </div> <!--/form2-->
                        <div class="form3">
                            <div class="row item_wrap">
                                <lable class="item_name">
                                    活动类型：
                                </lable>
                                <div class="item_option activity_home">
                                    <button class="btn keyword_btn activity_btn active activity1" data-key="4">首页活动</button>
                                    <button class="btn keyword_btn activity_btn activity2 hidden" data-key="3">新品活动</button>
                                </div>
                            </div>
                            <div class="row item_wrap activity_box">
                                <lable class="item_name">
                                    活动入口：
                                </lable>
                                <div class="item_option">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <select name="activity1" class="form-control activity_sel" id="activity1">
                                            <option value="9块9特卖">9块9特卖</option><option value="爱逛街">爱逛街</option><option value="食品超市">食品超市</option><option value="时尚穿搭">时尚穿搭</option></select>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <select name="activity2" class="form-control activity_sel keyword" id="activity2">
                                            <option value="18">精选</option><option value="31">每日抢新</option><option value="90">热销榜</option><option value="20">女装</option><option value="19">百货</option><option value="23">美妆</option><option value="21">食品</option><option value="22">母婴</option><option value="121">鞋包</option><option value="147">男装</option><option value="24">数码电器</option><option value="93">配饰</option><option value="92">内衣</option><option value="138">办公文具</option><option value="131">家纺家具</option><option value="132">车品</option></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row item_wrap">
                                <lable class="item_name">
                                    商品链接或ID：
                                </lable>
                                <div class="item_option user-ul-box">
                                    <i class="glyphicon glyphicon-remove close_i"></i>
                                    <input type="text" class="form-control keyword_sku" autocomplete="off" placeholder="输入商品链接或ID" id="actSku">
                                    <ul class="user-ul"></ul>
                                </div>
                            </div>
                        </div><!--/form3-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary add_keywords_sure">确定</button>
                    <button type="button" class="btn btn-default add_keywords_close" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/static/ddms/js/main.js?t=0914}"></script>
    <script th:src="@{/static/ddms/js/login.js?t=?t=0727}"></script>
    <script th:src="@{/static/ddms/js/cite/echarts.common.min.js}"></script>
    <script th:src="@{/static/ddms/js/bootstrap/bootstrap-table.min.js}"></script>
    <script th:src="@{/static/ddms/js/bootstrap/bootstrap-table-zh-cn.min.js}"></script>
    <script th:src="@{/static/ddms/js/cite/jquery.pagination.js}"></script>
    <script th:src="@{/static/ddms/js/cite/moment.js}"></script>
    <script th:src="@{/static/ddms/js/ran1.js?t=0920}"></script>
    <script th:src="@{/static/ddms/js/ran2.js?t=0920}"></script>
    <script th:src="@{/static/ddms/js/ran3.js?t=0920}"></script>
    <script th:src="@{/static/ddms/js/ranking.js?t=0921}"></script>
    <script th:src="@{/static/ddms/js/cite/bootstrap-tagsinput.min.js}"></script>
    <script>
        function exit() {
            $.ajax({
                url:'api/exituser',
                type:'POST',
                success:function(param){
                    if(param == 1){
                        window.location.href = "api/homepage";
                    }else{
                        alertError(param.msg)
                    }
                },
                error:function(){
                    alertError('系统错误')
                }
            });
        }

        $('.clearfix li').click(function() {
            var index = $(this).index();
            $(this).find('a').css({
                'color': '#556CED',
                'background-color': '#fff'
            }).parent().siblings().find('a').css({
                'color': '#666',
                'background-color': '#F6F7FE'
            });
            $('.contents .mytable').eq(index).show().siblings().hide();
        });
        $('.modal-content .tab a').click(function() {
            $(this).css('color', '#556CED').siblings().css('color', '#666');
            var index = $(this).index();
            $('.tabs .main').eq(index).show().siblings().hide();
        });
        var myChart1 = echarts.init(document.getElementById('main1'));
        var myChart2 = echarts.init(document.getElementById('main2'));
        var myChart3 = echarts.init(document.getElementById('main3'));
        var myChart4 = echarts.init(document.getElementById('main4'));
        var myChart5 = echarts.init(document.getElementById('main5'));
        var myChart6 = echarts.init(document.getElementById('main6'));
        var myChart7 = echarts.init(document.getElementById('main7'));
        var myChart8 = echarts.init(document.getElementById('main8'));
        var myChart9 = echarts.init(document.getElementById('main9'));
        // 指定图表的配置项和数据
        var option = {
            xAxis: {
                type: 'category',
                data: ['一月', '二月', '三月', '四月']
            },
            yAxis: [{
                type: 'category',
                axisTick: {
                    show: false
                },
                data: ['第一名', '第二名', '第三名', '第四名']
            }],
            series: [{
                data: ['第二名', '第四名', '第三名', '第一名'],
                type: 'line'
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart1.setOption(option);
        myChart2.setOption(option);
        myChart3.setOption(option);
        myChart4.setOption(option);
        myChart5.setOption(option);
        myChart6.setOption(option);
        myChart7.setOption(option);
        myChart8.setOption(option);
        myChart9.setOption(option);

    </script>
    </body>
</html>
