<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
        <title>拼多多查排名_拼多多排名查询_拼多多魔搜 拼多多直通车查询平台</title>
        <meta name="keyword" content="拼多多排名查询 拼多多查排名 拼多多排名查询软件 拼多多排名查询工具 拼多多直通车查询 拼多多关键词排名查询">
        <meta name="description" content="拼多多查排名平台是拼多多排名查询软件 拼多多排名查询工具,提供拼多多排名查询,拼多多直通车查询,拼多多关键词直通车查询,便于商家优化拼多多排名">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link th:href="@{/static/ddms/img/logo.png}" type="image/x-icon" rel="shortcut icon">
        <meta name="csrf-param" content="_csrf-frontend">
    	<meta name="csrf-token" content="QRGKBDnvOOWDNd1dmNEOsiw_BqEec7__BcMqGG3qTYR3QuBCT4BMldYDmDbRgmTtHmtzyEw19M5pr2UhJrwdzg==">
        <link th:href="@{/static/ddms/css/main1.css}" rel="stylesheet">
        <link th:href="@{/static/ddms/css/login.css}" rel="stylesheet">
        <link th:href="@{/static/ddms/css/search_gulp.css}" rel="stylesheet">
        <link th:href="@{/static/ddms/css/bootstrap/bootstrap-table.min.css}" rel="stylesheet">
        <link th:href="@{/static/ddms/css/bootstrap/bootstrap-tagsinput.css}" rel="stylesheet">
        <link th:href="@{/static/ddms/css/bootstrap/pagination.css}" rel="stylesheet">
        <link th:href="@{/static/ddms/css/index.css}" rel="stylesheet">
        <link th:href="@{/static/ddms/css/ranking.css}" rel="stylesheet">
        <script type="text/javascript" th:src="@{/static/ddms/jquery/jquery-1.4.4.min.js}"></script>
        <script type="text/javascript" th:src="@{/static/ddms/js/myForm.js}"></script>
        <script type="text/javascript" th:src="@{/static/ddms/js/include.js}"></script>
        <script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
        <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
        <script src="https://img.hcharts.cn/highcharts/modules/oldie.js"></script>
        <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
	</head>
	<body>
    <!--<div class="spinners">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>-->
    <header th:include="include :: header"></header>

    <div class="jd_menu_remove">
        <div class="jd_remove_item">
            <i class="iconfont icon-kefu icon"></i><br>
            咨询
        </div>
        <div class="feedback tada hidden" id="feedback" data-toggle="modal" data-target="#feedbackModal">
            <!--img src="http://jdmohe.ufile.ucloud.com.cn/web/feedback.png">
            <img src="http://jdmohe.ufile.ucloud.com.cn/web/feedback1.png"-->
        </div>
    </div>
    <div class="consult-wrapper" style="display: none;">
        <div class="header-phone-close">
            <i class="icon consult-phone-close iconfont icon-cuowu"></i>
        </div>
        <div class="consult-phone-wrapper">
            <h3>联系我们</h3>
            <div class="consult-phone-btn">
                <button class="btn"><img src="../static/ddms/img/QQ.png">QQ咨询</button>
            </div>
            <div class="qq-text">

            </div>
            <div class="weixin-text">
                扫一扫&nbsp;<img src="../static/ddms/img/weixin.png">&nbsp;加微信
            </div>
            <div class="erweima-text">
                <img class="wechartCode" src="../static/ddms/img/we.jpg">
            </div>
            <div class="erweima-text1">

            </div>
        </div>
    </div>

    <input type="hidden" th:value="${session.user_login.id}" id="userId">
    <div class="dd_content_wrap dd_container dd_other">
        <div class="row ran_header">
            <div class="col-md-10 dd_ranking">
                <ul class="dd_nav clearfix">
                    <li class="nav_li active nav_li2" data-key="2"><a href="javascript:;">关键词排名监控</a></li>
                    <li class="nav_li nav_li1" data-key="1"><a href="javascript:;">类目排名监控</a></li>
                    <li class="nav_li nav_li3" data-key="3"><a href="javascript:;">店铺监控</a></li>
                </ul>
            </div>
            <div class="col-md-2 dd_add_box">
                <button class="btn dd_add_btn" type="button" data-toggle="modal" data-target="#addGoodModal">+添加商品</button>
            </div>
        </div>
        <div class='contents'>
            <!--关键词排名监控-->
            <div class='mytable'>
                <table id="ranking_1">
                    <tr>
                        <th>商品名称</th>
                        <th>关键词</th>
                        <th>商品销量</th>
                        <th>商品排名</th>
                        <th>操作</th>
                    </tr>
                    <!--<tr>-->
                        <!--<td>你个傻子</td>-->
                        <!--<td>2019-09-09</td>-->
                        <!--<td>0.00</td>-->
                        <!--<td>0.00</td>-->
                        <!--<td><a href='#' data-toggle="modal" data-target="#myModal1">走势</a></td>-->
                    <!--</tr>-->
                </table>
                <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div id="container1" style="min-width:400px;height:400px"></div>
                    </div>
                </div>
            </div><!--/mytable--><!--关键词排名监控结束-->
            <!--类目排名监控-->
            <div class='mytable'>

                <div class="modal fade" id="myModa2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <h3>添加关键词</h3>
                            <form>
                                关键词：<input type='text' />
                                <button type="button" class="btn btn-primary btn1">确定</button>
                                <button type="button" class="btn btn-default btn2" data-dismiss="modal">取消</button>
                            </form>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
                <table id="ranking_2">
                    <tr>
                        <th>商品名称</th>
                        <th>关键词</th>
                        <th>商品销量</th>
                        <th>商品排名</th>
                        <th>操作</th>
                    </tr>
                    <!--<tr>-->
                        <!--<td>你个傻子</td>-->
                        <!--<td>2019-09-09 09:09:09</td>-->
                        <!--<td>0.00</td>-->
                        <!--<td>0.00</td>-->
                        <!--<td>23</td>-->
                        <!--<td>2</td>-->
                        <!--<td><a href='#' data-toggle="modal" data-target="#myModal2">走势</a></td>-->
                    <!--</tr>-->
                </table>
                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div id="container2" style="min-width:400px;height:400px"></div>
                    </div>
                </div>
            </div><!--/mytable-->
            <!--类目排名监控结束-->
            <!--活动排名监控-->
            <div class='mytable'>

                <div class="modal fade" id="myModa3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <h3>添加关键词</h3>
                            <form>
                                关键词：<input type='text' />
                                <button type="button" class="btn btn-primary btn1">确定</button>
                                <button type="button" class="btn btn-default btn2" data-dismiss="modal">取消</button>
                            </form>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
                <table id="ranking_3">
                    <tr>
                        <th>店铺ID</th>
                        <th>店铺名称</th>
                        <th>店铺LOGO</th>
                        <th>商品数量</th>
                        <th>店铺销量</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    <!--<tr>-->
                        <!--<td>你个傻子</td>-->
                        <!--<td>2019-09-09 09:09:09</td>-->
                        <!--<td>0.00</td>-->
                        <!--<td>0.00</td>-->
                        <!--<td>23</td>-->
                        <!--<td>2</td>-->
                        <!--<td><a href='#' data-toggle="modal" data-target="#myModal3">走势</a></td>-->
                    <!--</tr>-->
                </table>
                <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content big">
                            <dl>
                                <dt><img src='img/character.jpg'></dt>
                                <dd>你个傻子哈哈哈哈111</dd>
                                <dd class='gray'>商品id:0498548957408</dd>
                            </dl>
                            <h5>商品排名走势折线图</h5>
                            <div class='tab'><a href='#'>近7天</a><a href='#'>近15天</a><a href='#'>近30天</a></div>
                            <div class='tabs'>
                                <div id="main7" style="width: 600px;height:300px"></div>
                                <div id="main8" style="width: 600px;height:300px"></div>
                                <div id="main9" style="width: 600px;height:300px"></div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
            </div><!--/mytable-->
            <!--类目排名监控结束-->
        </div><!--/contents-->
    </div>
    <div class="modal rankingModal" id="addGoodModal" tabindex="-1" role="dialog" aria-labelledby="addGoodModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="addGoodModalLabel">添加商品</h4>
                </div>
                <div class="modal-body">
                    <div class="row add_input_wrap form_wrap">
                        <div class="add_input_inner item_wrap row">
                            <div class="item_name">
                                添加方式：
                            </div>
                            <div class="item_option add_type">
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="ranking2" value="2" checked=""> 关键词排名
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="ranking1" value="1"> 类目排名
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="ranking3" value="3"> 店铺监控
                                </label>
                            </div>
                        </div>
                        <div class="form1">
                            <div class="row item_wrap">
                                <lable class="item_name">
                                    选择类目：
                                </lable>
                                <div class="item_option">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <select name="category1" data-key="1" class="form-control category" id="category1" onchange="cats1();">
                                        </select>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <select name="category2" data-key="2" class="form-control category" id="category2" onchange="cats2();">
                                        </select>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <select name="category3" data-key="3" class="form-control category" id="category3">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row item_wrap">
                                <lable class="item_name">
                                    商品链接或ID：
                                </lable>
                                <div class="item_option user-ul-box">
                                    <i class="glyphicon glyphicon-remove close_i"></i>
                                    <input type="text" class="form-control keyword_sku" id="category_sku" autocomplete="off" placeholder="输入商品链接或ID">
                                    <ul class="user-ul"></ul>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary add_keywords_sure" onclick="addCat()">确定</button>
                                <button type="button" class="btn btn-default add_keywords_close" data-dismiss="modal">取消</button>
                            </div>
                        </div><!--/form1-->
                        <div class="form2">
                            <div class="row item_wrap">
                                <lable class="item_name">
                                    关键词：
                                </lable>
                                <div class="item_option user-ul-box">
                                    <i class="glyphicon glyphicon-remove close_i"></i>
                                    <input type="text" class="form-control keyword" id="keyword_form" autocomplete="off" placeholder="输入关键词">
                                    <ul class="user-ul keyword-ul"></ul>
                                </div>
                            </div>
                            <div class="row item_wrap">
                                <lable class="item_name">
                                    商品链接或ID：
                                </lable>
                                <div class="item_option user-ul-box">
                                    <i class="glyphicon glyphicon-remove close_i"></i>
                                    <input type="text" class="form-control keyword_sku" id="keyword_sku" autocomplete="off" placeholder="输入商品链接或ID">
                                    <ul class="user-ul"></ul>
                                </div>
                            </div>
                            <div class="row item_wrap ran_hide">
                                <lable class="item_name">
                                    排序类型：
                                </lable>
                                <div class="item_option keyword_type">
                                    <div class="dropdown">
                                        <button class="btn keyword_btn dropdown-toggle active" key="1" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="dropdown_text">综合排序</span> <span class="caret"></span></button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li><a href="javascript:;" class="keyword overall overall1 active" key="1">综合排序</a></li>
                                            <li><a href="javascript:;" class="keyword overall overall2" key="2">评分排序</a></li>
                                        </ul>
                                    </div>
                                    <button class="btn keyword_btn keyword" key="3">销量</button>
                                    <button class="btn keyword_btn keyword" key="4">价格<i class="iconfont icon-jiantoushangsheng"></i></button>
                                    <button class="btn keyword_btn keyword" key="5">价格<i class="iconfont icon-jiantouxiajiang"></i></button>
                                </div>
                            </div>
                            <div class="row item_wrap ran_hide">
                                <lable class="item_name">
                                </lable>
                                <div class="item_option">
                                    <button class="btn choose_btn">筛选 <i class="iconfont icon-jiantouxiangshang"></i></button>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary add_keywords_sure" onclick="addGood()">确定</button>
                                <button type="button" class="btn btn-default add_keywords_close" data-dismiss="modal">取消</button>
                            </div>
                        </div> <!--/form2-->
                        <div class="form3">
                            <div class="row item_wrap">
                                <lable class="item_name">
                                    店铺ID：
                                </lable>
                                <div class="item_option user-ul-box">
                                    <i class="glyphicon glyphicon-remove close_i"></i>
                                    <input type="text" class="form-control keyword_sku" autocomplete="off" placeholder="输入店铺ID" id="actSku">
                                    <ul class="user-ul"></ul>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary add_keywords_sure" onclick="addMall()">确定</button>
                                <button type="button" class="btn btn-default add_keywords_close" data-dismiss="modal">取消</button>
                            </div>
                        </div><!--/form3-->
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" id="queryModal" tabindex="-1" role="dialog" aria-labelledby="queryModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="clearfix query_details">
                    <div class="row content_canvas">
                        <div id="ranking_canvas" class="canvas_div" _echarts_instance_="ec_1542097514978" style="-webkit-tap-highlight-color: transparent; user-select: none; position: relative; background: transparent;"><div style="position: relative; overflow: hidden; width: 850px; height: 350px; padding: 0px; margin: 0px; border-width: 0px;"><canvas data-zr-dom-id="zr_0" width="850" height="350" style="position: absolute; left: 0px; top: 0px; width: 850px; height: 350px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div></div></div>
                        <div id="ranking_canvas1" class="canvas_div" _echarts_instance_="ec_1542097514979" style="-webkit-tap-highlight-color: transparent; user-select: none; position: relative; background: transparent;"><div style="position: relative; overflow: hidden; width: 850px; height: 350px; padding: 0px; margin: 0px; border-width: 0px;"><canvas data-zr-dom-id="zr_0" width="850" height="350" style="position: absolute; left: 0px; top: 0px; width: 850px; height: 350px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div></div></div>
                        <div id="ranking_canvas2" class="canvas_div" _echarts_instance_="ec_1542097514980" style="-webkit-tap-highlight-color: transparent; user-select: none; position: relative; background: transparent;"><div style="position: relative; overflow: hidden; width: 850px; height: 350px; padding: 0px; margin: 0px; border-width: 0px;"><canvas data-zr-dom-id="zr_0" width="850" height="350" style="position: absolute; left: 0px; top: 0px; width: 850px; height: 350px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/static/ddms/js/main.js?t=0914}"></script>
    <script th:src="@{/static/ddms/js/login.js?t=?t=0727}"></script>
    <script th:src="@{/static/ddms/js/cite/echarts.common.min.js}"></script>
    <script th:src="@{/static/ddms/js/bootstrap/bootstrap-table.min.js}"></script>
    <script th:src="@{/static/ddms/js/bootstrap/bootstrap-table-zh-cn.min.js}"></script>
    <script th:src="@{/static/ddms/js/cite/jquery.pagination.js}"></script>
    <script th:src="@{/static/ddms/js/cite/moment.js}"></script>
    <script th:src="@{/static/ddms/js/cite/bootstrap-tagsinput.min.js}"></script>
    <script>

        $(function(){
            var a = $("#userId").val();
            $.get('/api/getKeyVip?userId='+a+'&type=1',
                function(res) {
                $.each(res.goods, function (index, data) {
                    $("#ranking_1").append("<tr><td style='max-width:150px'><dl><dt><img src='"+data.goodsThumbnail+"'></dt><dd>"+data.goodsName+"</dd></dl></td><td>"
                        +data.goodsKey+"</td><td>"+data.goodsSold+"</td><td>"+data.goodsTop+"</td><td>" +
                        "<a href='#' data-toggle='modal' data-target='#myModal1' onclick='key_walk1("+data.id+");'>走势</a>" +
                        "&nbsp;&nbsp;&nbsp;<a href='javascript:deleteGoods("+data.id+")'>删除</a></td></tr>");
                });
            });
            $.get('/api/getCatsVip?userId='+a+'&type=2', function(res) {
                $.each(res.goods, function (index, data) {
                    $("#ranking_2").append("<tr><td style='max-width:150px'><dl><dt><img src='"+data.goodsThumbnail+"'></dt><dd>"+data.goodsName+"</dd></dl></td><td>"
                        +data.goodsKey+"</td><td>"+data.goodsSold+"</td><td>"+data.goodsTop+"</td><td>" +
                        "<a href='#' data-toggle='modal' data-target='#myModal2' onclick='key_walk2("+data.id+");'>走势</a>" +
                        "&nbsp;&nbsp;&nbsp;<a href='javascript:deleteGoods("+data.id+")'>删除</a></td></tr>");
                });
            });
            $.get('/api/getMallVip?userId='+a, function(res) {
                $.each(res.malls, function (index, data) {
                    $("#ranking_3").append("<tr><td>"+data.mallId+"</td><td>"
                        +data.mallName+"</td><td style='width:15%'><img src='"+data.mallLogo+"' style='width:50%; margin:3% auto'></td><td>"+data.goodsNum+
                        "</td><td>" + data.mallSold +"</td><td>"+data.createtime+"</td><td>"+
                        "&nbsp;&nbsp;&nbsp;<a href='javascript:deleteMall("+data.id+")'>删除</a></td></tr>");
                });
            });

        })

        $('.clearfix li').click(function() {
            var index = $(this).index();
            $(this).find('a').css({
                'color': '#556CED',
                'background-color': '#fff'
            }).parent().siblings().find('a').css({
                'color': '#666',
                'background-color': '#F6F7FE'
            });
            $('.contents .mytable').eq(index).show().siblings().hide();
        });
        $('.modal-content .tab a').click(function() {
            $(this).css('color', '#556CED').siblings().css('color', '#666');
            var index = $(this).index();
            $('.tabs .main').eq(index).show().siblings().hide();
        });

        function  key_walk1(id) {
            $.get('/api/keyWalk?keyId='+id, function(res) {
                var chart = Highcharts.chart('container1', {
                    chart: {
                        type: 'line'
                        //inverted: true //翻转X轴Y轴
                    },
                    title: {
                        text: '商品排名走势折线图'
                    },
                    subtitle: {
                        text: ''+res.walk.goodsName
                    },
                    xAxis: {
                        categories: [''+res.walk.oldTime,''+res.walk.time]
                    },
                    yAxis: {
                        title: {
                            text: '排名'
                        },
                        reversed: true //逆向
                        //tickPositions: [100, 50, 20, 10, 0]
                    },
                    plotOptions: {
                        line: {
                            dataLabels: {
                                enabled: true// 开启数据标签
                            },
                            enableMouseTracking: false// 关闭鼠标跟踪，对应的提示框、点击事件会失效
                        }
                    },
                    series: [{
                        name: '商品走势', data: [res.walk.oldTop, res.walk.top]
                    }]
                });
            });
        }

        function  key_walk2(id) {
            $.get('/api/keyWalk?keyId='+id, function(res) {
                var chart = Highcharts.chart('container2', {
                    chart: {
                        type: 'line'
                        //inverted: true //翻转X轴Y轴
                    },
                    title: {
                        text: '商品排名走势折线图'
                    },
                    subtitle: {
                        text: ''+res.walk.goodsName
                    },
                    xAxis: {
                        categories: [''+res.walk.oldTime,''+res.walk.time]
                    },
                    yAxis: {
                        title: {
                            text: '排名'
                        },
                        reversed: true //逆向
                        //tickPositions: [100, 50, 20, 10, 0]
                    },
                    plotOptions: {
                        line: {
                            dataLabels: {
                                enabled: true// 开启数据标签
                            },
                            enableMouseTracking: false// 关闭鼠标跟踪，对应的提示框、点击事件会失效
                        }
                    },
                    series: [{
                        name: '商品走势', data: [res.walk.oldTop, res.walk.top]
                    }]
                });
            });
        }

        $(function(){
            $('.add_type .radio-inline').on('click', function () {
                var val=$('input[name="inlineRadioOptions"]:checked').val();
                if(val=='1'){
                    $('.form1').show();
                    $('.form2').hide();
                    $('.form3').hide();
                }
                if(val=='2'){
                    $('.form1').hide();
                    $('.form2').show();
                    $('.form3').hide();
                }
                if(val=='3'){
                    $('.form1').hide();
                    $('.form2').hide();
                    $('.form3').show();
                }
            })
        })

        function addGood() {
            var keyword = $("#keyword_form").val();
            var goodsId = $("#keyword_sku").val();
            var userId = $("#userId").val();
            $.ajax({
                url: "/api/addKey",
                data: {
                    "userId" : userId,
                    "keyword" : keyword,
                    "goodsId" : goodsId,
                    "sort" : "0",
                    "type" : "1"
                },
                type: "GET",
                dataType : "json",
                success:function(data){
                    if(data["success"]=="000") {
                        alert("添加成功");
                        window.location.href="/api/ranking";
                    }else if(data["success"]=="002"){
                        alert("您要监控的商品在一千名之外，或该商品名称里未包含关键字！");
                    }else{
                        alertError("监控数已满10个");
                    }
                },
                error:function(){
                    alertError('系统错误');
                }
            });
        }
        function addCat() {
            var goodsId = $("#category_sku").val();
            var parentId = $("#category3 option:selected").val();
            var userId = $("#userId").val();
            $.ajax({
                url: "/api/addCat",
                data: {
                    "userId" : userId,
                    "goodsId" : goodsId,
                    "parentId" : parentId,
                    "type" : "2"
                },
                type: "GET",
                dataType : "json",
                success:function(data){
                    if(data["success"]=="000") {
                        alert("添加成功");
                        window.location.href="/api/ranking";
                    }else if(data["success"]=="002"){
                        alert("您要监控的商品在一千名之外，或该商品名称里未包含关键字！");
                    }else{
                        alertError("监控数已满10个");
                    }
                },
                error:function(){
                    alertError('系统错误');
                }
            });
        }
        function addMall() {
            var userId = $("#userId").val();
            var mallID = $("#actSku").val();
            $.ajax({
                url: "/api/addMall",
                data: {
                    "userId" : userId,
                    "mallID" : mallID
                 },
                type: "GET",
                dataType : "json",
                success:function(data){
                    if(data["success"]=="000") {
                        alert("添加成功");
                        window.location.href="/api/ranking";
                    }else if(data["success"]=="002"){
                        alert("未找到该店铺信息！");
                    }else{
                        alertError("监控数已满10个");
                    }
                },
                error:function(){
                    alertError('系统错误');
                }
            });
        }
        function cats1() {
            var id = $("#category1 option:selected").val();
            $.get('/api/getCats?parentId='+id, function(res) {
                $("#category2").empty();
                $("#category2").append(res.cats);
                var id = $("#category2 option:selected").val();
                $.get('/api/getCats?parentId='+id, function(res) {
                    $("#category3").empty();
                    $("#category3").append(res.cats);
                });
            });
        }

        function cats2() {
            var id = $("#category2 option:selected").val();
            $.get('/api/getCats?parentId='+id, function(res) {
                $("#category3").empty();
                $("#category3").append(res.cats);
            });
        }

        function deleteGoods(data) {
            if(confirm("是否删除？")==true){
                window.location.href="/api/deleteGood?id="+data;
            }
        }
        function deleteMall(data) {
            if(confirm("是否删除？")==true){
                window.location.href="/api/deleteMall?id="+data;
            }
        }

        $(function(){
            $.get('/api/getCats?parentId=0', function(res) {
                $("#category1").append(res.cats);
                var id = $("#category1 option:selected").val();
                $.get('/api/getCats?parentId='+id, function(res) {
                    $("#category2").append(res.cats);
                    var id = $("#category2 option:selected").val();
                    $.get('/api/getCats?parentId='+id, function(res) {
                        $("#category3").append(res.cats);
                    });
                });
            });

        });

    </script>
    </body>
</html>
