<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>拼多多查排名_拼多多排名查询_拼多多魔搜 拼多多直通车查询平台</title>
		<meta name="keyword" content="拼多多排名查询 拼多多查排名 拼多多排名查询软件 拼多多排名查询工具 拼多多直通车查询 拼多多关键词排名查询">
		<meta name="description" content="拼多多查排名平台是拼多多排名查询软件 拼多多排名查询工具,提供拼多多排名查询,拼多多直通车查询,拼多多关键词直通车查询,便于商家优化拼多多排名">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link th:href="@{/static/ddms/img/logomax.ico}" type="image/x-icon" rel="shortcut icon" >
		<meta name="csrf-param" content="_csrf-frontend">
		<meta name="csrf-token" content="pcneXCabB__lxm8d6hemTSVcs5NKIvAV-DDVVRCUIJWTmrQaUPRzj7DwKnajRMwSFwjG-hhkuySUXJpsW8Jw3w==">
		<link th:href="@{/static/ddms/css/main1.css}" rel="stylesheet">
		<link th:href="@{/static/ddms/css/login.css}" rel="stylesheet">
		<link th:href="@{/static/ddms/css/search_gulp.css}" rel="stylesheet">
		<link th:href="@{/static/ddms/css/bootstrap/bootstrap-table.min.css}" rel="stylesheet">
		<link th:href="@{/static/ddms/css/index.css}" rel="stylesheet">
		<script type="text/javascript" th:src="@{/static/ddms/jquery/jquery-1.4.4.min.js}"></script>
		<script type="text/javascript" th:src="@{/static/ddms/js/myForm.js}"></script>
		<script type="text/javascript" th:src="@{/static/ddms/js/include.js}"></script>
		<link th:href="@{/static/ddms/css/xiaolaingjiankong.css}" rel="stylesheet">
		<script th:src="@{/static/ddms/js/jquery-2.1.1.min.js}" ></script>
		<script th:src="@{/static/ddms/js/index.js}"></script>
		<script th:src="@{/static/ddms/js/main.js?t=0914}"></script>
		<script th:src="@{/static/ddms/js/login.js}"></script>
		<script th:src="@{/static/ddms/js/bootstrap/bootstrap-table.js}"></script>
		<script>
			$(function(){
				$('.main span').click(function(){
					$(this).css('color','#D8271C').siblings().css('color','#666');
					var index=$(this).index();
					$('.main .tabs .list').eq(index).show().siblings().hide();
				});
				$('.main .one').click(function(){
					$(this).toggle().siblings().toggle();
				});
				$('.main .two').click(function(){
					$(this).toggle().siblings().toggle();
				});
				$('.main .tab span:first-child').click(function(){
					$('.main .tabs .list form').show();
				});
				$('.main .tab span:last-child').click(function(){
					$('.main .tabs .list form').hide();
				})

			});
			function search() {
				var sea = $("#sea").val();
				$.ajax({
					url : '/ddSearch/search?keys='+sea,
					type: "GET",
					dataType : "json",
					beforeSend: function(){
						$(".spinners").show();
					},
					success:function(res){

						$("#table1").html("<tr><td>关键词排名</td><td>主图</td><td>店铺名称</td><td>商品名称</td>" +
								"<td>总销量</td><td>价格</td><td>操作</td></tr>");
						$.each(res, function (index, data) {
							var i = "heart";
							if(data.isConcern==1){
								i = "heart1";
							}
								$("#table1").append("<tr><td><input type='hidden' value="+data.isConcern+" id='isConcern_"+data.goods_id+"'"+"> "+(index+1)+"</td>" +
										"<td style='width:10%'><span style='width:100%; display:block; margin:0 auto; overflow:hidden; height:50px; position:relative'><img src='"+data.goods_image_url+"'  style='width:100%; position:absolute; top:15%; left:0'></span></td><td class='shangpin'>"
									+data.mall_name+"</td><td class='shangpin'>"+data.goods_name+"</td><td>"+data.sold_quantity+"</td><td>" +
									change(data.min_group_price)+"~"+change(data.min_normal_price)+"</td><td>"+"<a href='javascript:concern("+data.goods_id+")'>" +
										"<img src='../static/ddms/img/"+i+".png' width='20' height='20' id='img_"+data.goods_id+"'></a></td></tr>");
						});
					},
					complete: function () {
						$(".spinners").hide();
					},
					error:function(){
						alertError('系统错误');
					}
				});
			}
			function list1() {
				$.ajax({
					url : '/ddSearch/list',
					type: "GET",
					dataType : "json",
					beforeSend: function(){
						$(".spinners").show();
					},
					success:function(res){
						$("#table2").html("<tr><td>关键词排名</td><td>主图</td><td>店铺名称</td><td>商品名称</td>" +
								"<td>总销量</td><td>价格</td><td>操作</td></tr>");
						$.each(res, function (index, data) {
							$("#table2").append("<tr><td><input type='hidden' value="+data.isConcern+" id='isConcern_"+data.goods_id+"'"+">"+(index+1)+"</td>" +
									"<td style='width:10%'><span style='width:100%; display:block; margin:0 auto; overflow:hidden; height:50px; position:relative'><img src='"+data.goods_image_url+"'  style='width:100%; position:absolute; top:15%; left:0'></span></td><td class='shangpin'>"
									+data.mall_name+"</td><td class='shangpin'>"+data.goods_name+"</td><td>"+data.sold_quantity+"</td><td>" +
									change(data.min_group_price)+"~"+change(data.min_normal_price)+"</td><td><a href='javascript:concern("+data.goods_id+")'>" +
									"<img src='../static/ddms/img/heart1.png' width='20' height='20' id='img_"+data.goods_id+"'></a></td></tr>");
						});
					},
					complete: function () {
						$(".spinners").hide();
					},
					error:function(){
						alertError('系统错误');
					}
				});
			}
			function concern(goods_id) {
				var status=1;
				var isConcern = $("#isConcern_"+goods_id).val();
				if(isConcern==1){
					status=0;
				}
				$.ajax({
					url : '/ddSearch/concern',
					data :  {
						status : status,
						goodsId : goods_id
					},
					type: "post",
					dataType : "json",
					success:function(res){
						if(res){
							$("#isConcern_"+goods_id).val(status);
							if(status==1){
								$("#img_"+goods_id).attr("src", "/static/ddms/img/heart1.png");

							}else {
								$("#img_"+goods_id).attr("src", "/static/ddms/img/heart.png");
							}
						}else{
							alertError("操作失败");
						}
					},
					error:function(){
						alertError('系统错误');
					}
				});
			}

			function change(fen){
				var yuan=fen/100.0;
				return yuan.toFixed(2);
			}
		</script>
		<style>
			.main .list .two{ display:none}
		</style>
	</head>
	<body>
	<header th:include="include :: header"></header>
	<div class="spinners" style="display: none;">
		<div class="bounce1"></div>
		<div class="bounce2"></div>
		<div class="bounce3"></div>
	</div>
	<div class="jd_menu_remove">
		<div class="jd_remove_item">
			<i class="iconfont icon-kefu icon"></i><br>
			咨询
		</div>
		<div class="feedback tada hidden" id="feedback" data-toggle="modal" data-target="#feedbackModal">
			<!--img src="http://jdmohe.ufile.ucloud.com.cn/web/feedback.png">
            <img src="http://jdmohe.ufile.ucloud.com.cn/web/feedback1.png"-->
		</div>
	</div>
	<div class="consult-wrapper" style="display: none;">
		<div class="header-phone-close">
			<i class="icon consult-phone-close iconfont icon-cuowu"></i>
		</div>
		<div class="consult-phone-wrapper">
			<h3>联系我们</h3>
			<div class="consult-phone-btn">
				<button class="btn"><img src="../static/ddms/img/QQ.png">QQ咨询</button>
			</div>
			<div class="qq-text">

			</div>
			<div class="weixin-text">
				扫一扫&nbsp;<img src="../static/ddms/img/weixin.png">&nbsp;加微信
			</div>
			<div class="erweima-text">
				<img class="wechartCode" src="../static/ddms/img/we.jpg">
			</div>
			<div class="erweima-text1">

			</div>
		</div>
	</div>
		<div class='dd_content_wrap dd_container dd_other main'>
			<div class='tab'>
				<span>全部</span><span onclick="list1();">已关注</span>
			</div><!--/tab-->
			<div class='tabs'>
				<div class='list'>
					<form action=''>
						<input type='text' placeholder="请输入内容" id="sea">
						<a href='javascript:search();'>搜索</a>
					</form>
					<table id="table1">
						<tr>
							<td>关键词排名</td>
							<td>主图</td>
							<td>店铺名称</td>
							<td>商品名称</td>
							<!--<td>近1天销量</td>
							<td>近3天销量</td>
							<td>近7天销量</td>-->
							<td>总销量</td>
							<td>价格</td>
							<td>操作</td>
						</tr>

					</table>
				</div><!--/list-->
				<div class='list'>
					<form action=''>
						<input type='text' placeholder="请输入内容">
						<a href='#'>搜索</a>
					</form>
					<table id="table2">
						<tr>
							<td>关键词排名</td>
							<td>主图22</td>
							<td>店铺名称</td>
							<td>商品名称</td>
							<!--<td>近1天销量</td>
							<td>近3天销量</td>
							<td>近7天销量</td>-->
							<td>总销量</td>
							<td>价格</td>
							<td>操作</td>
						</tr>
					</table>
				</div><!--/list-->
			</div><!--/tabs-->
		</div>
	</body>
</html>
